<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/main.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Information Management Branch</title>
</head>


<body>
  <%- include('../partials/_header') %>

    <!-- Add New Product From  -->
    <div class="add-form">
      <form action="/api/products/add" method="POST">

        <div class="form-row">
          <div class="form-column">
            <label for="add-product-name">Product Name:</label>
            <input type="text" id="add-product-name" name="productName" placeholder="Brooklyn 99">
          </div>

          <div class="form-column">
            <label for="add-product-owner-name">Product Owner</label>
            <input type="text" id="add-product-owner-name" name="productOwnerName" placeholder="Jake Peralta">
          </div>

          <div class="form-column">
            <label for="add-scrum-master">Scrum Master:</label>
            <input id="add-scrum-master" name="scrumMasterName" placeholder="Gina Linetti"></input>
          </div>

          <div class="form-column">
            <label for="add-start-date">Start Date:</label>
            <input id="add-start-date" name="startDate" placeholder="YYYY/MM/DD"></input>
          </div>

        </div>

        <div class="form-row">
          <div class="form-column">
            <% for (let i=1; i <=5; i++) { %>
              <label for="add-developer-<%= i %>">Developer <%= i %>:</label>
              <input type="text" id="add-developer-<%= i %>" name="names[]" placeholder="Amy Santiago">
              <% } %>
          </div>

          <div class="form-column">
            <label for="add-methodology">Methodology:</label>
            <select id="add-methodology" name="methodology" placeholder="Agile">
              <option value="">--Select Methodology--</option>
              <option value="agile">Agile</option>
              <option value="waterfall">Waterfall</option>
            </select>
          </div>
        </div>

        <input type="submit" value="Save">
      </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

</body>

</html>